.search-shotlist {
  position:relative;
  display: flex;
  background-size:cover;
  height: fit-content;
  width: 100%;
  display: flex;
  background:
    /*linear-gradient(181deg, rgba(100,200,255,0.6), rgba(0, 0, 0, 0.9)),*/
    url('../../assets/img/grass.png') repeat;;

}

.feed{


    flex-direction: column;
  }

  .message{
    width: 60%;
    flex-direction: column;
    margin: 10px 0;
  }
.search {

  background-size:cover;
  border-right: 10px;
  padding: 1%;
  width: 300px;
  display: flex;
  flex-direction: column;




}
.space{  position: fixed;
  height: 200px;}
.input{


  width: 250px;
  height: 50px;
  background: #2b303b;
  border: 10px;
  font-size: 15pt;
  float: left;
  color: #F5F5F5;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;


  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;

}
.gap{
  height: 20px;
  padding: 10px;
}

.directions{

  text-align: justify;
  width: 250px;
  height: 100px;
  background: #2b303b;
  border: 10px;
  font-size: 12pt;
  float: left;
  color: #F5F5F5;
  /*padding: 45px;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

.cont{
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  margin-right: auto;
}

.no-data {
  /*padding: 10%;*/

  margin-left: 100px;
  margin-right: auto;
  /*width: 50%;*/





}
.enter-text-promt {
  color: white;

padding-left: 100px;
  margin-left: 20px;

}

h2 {
  color: white;
}

.gap2{
  height: 100px;
  padding: 10px;
}
