
<div class="search-shotlist">
  <!--wrapper-->

<div class="search">
  <p class="space"></p>
  <h2>Shot Search</h2>
  <input type="text" (keydown)="search($event)" placeholder="search shots..." class="input">
  <p class="gap"></p>
  <p class="directions" id="dir"> Search D, 3W, 5I, 6I, 7I, 8I, 9I,SW for a club. Search dates in the form 2018-02-22 And press the enter key.</p>
</div>

<div class="feed">
    <!-- <p>shot list</p> -->
  <div *ngFor="let shot of shots" class="message" >
  <!--<div *ngFor="let shot of shots | async"  class="message" >-->
     <app-shot [SHOT]=shot></app-shot>
  </div>
<div class="cont">
  <div *ngIf="shots?.length < 1">

    <h1 class="enter-text-promt">   Please enter value in search</h1>

    <div class="no-data">
      <img src='../../assets/img/confused.jpg' alt="Sad face for no search input">
    </div>
    <p class="gap2"></p>

</div>
</div>
</div>

</div>
<!-- <div class="feed">
  <div *ngFor="let message of feed | async" class="message">
    <app-message [chatMessage]=message></app-message>
  </div>
</div> -->
