<div class="navBar">
  <div id="logo"></div>
  <div id="heading"><a routerLink="/">SwingStats</a></div>
  <div class="pageLinks">
    <span>
      <a [routerLink]="['../chat']" class = "r" name="messageBoard">Message Board</a>
    </span><span>
      <a [routerLink]="['../dashboard']" class = "r" name="shots">Shots</a>
    </span><span>
      <a [routerLink]="['../avglist']"class = "r" name="stats">Statistics</a>
    </span>
  </div>
  <div class="links">

    <span>
      <a id="loginBut" *ngIf="!(user|async)?.uid" href="#" (click)="login()">Login</a>
    </span>
    <span>
      <a id="signUp" *ngIf="!(user|async)?.uid" routerLink="/signup">Sign Up</a>
    </span>
    <span>
      <span id="userEmail" *ngIf="(user|async)?.uid">Hello, {{userEmail}}</span>
    </span>
    <span>
      <a id="lob" *ngIf="(user|async)?.uid" href="#" (click)="logout()">Logout</a>
    </span>
  </div>
</div>
