.messageContent{

    height: auto;
    flex: 9;
    background-color: #fff;
    /*background:rgba(255,255,255,0.8);*/
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
     width: 1000px;
  /*background: rgba(91, 0, 81, 0.79);*/
  /**/
  }

  agm-map {
    height: 400px;
  }
.shot-data {

}
