<div class="stats-container">
  <header class="stat-title"><h3><b>{{userName}}</b> here are you statistics </h3></header>

  <div class="Shot-list-cont">
    <app-avgshot class="avg-and-max-shot"></app-avgshot>

    <div class="graph-conatiner">
      <p class="graphing-heading"><b>Graphing your progress</b> :: you can view you last 100 full shots with each club.
        You can use this data to measure you consistency. The following graphs show five statistics per shot. The first and arguably most important is distance.
        This is followed by the acceleration of the wrist during the shot. The  next three are considered indicators of stress,
        heart rate, galvonomic resistance and skin temperature!</p>


      <div class="graphs">

        <div class="line-graph">
          <div style="display: block">

            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>




        <div class="line-graph">
          <div style="display: block">
            <!--add heading-->

            <canvas baseChart
                    [datasets]="barChartData3w"
                    [labels]="barChartLabels3w"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>



        <div class="line-graph">
          <div style="display: block">
            <!--add heading-->

            <canvas baseChart
                    [datasets]="barChartData5i"
                    [labels]="barChartLabels5i"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>



        <div class="line-graph">
          <div style="display: block">
            <!--add heading-->

            <canvas baseChart
                    [datasets]="barChartData6i"
                    [labels]="barChartLabels6i"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>




        <div class="line-graph">
          <div style="display: block">
            <!--add heading-->

            <canvas baseChart
                    [datasets]="barChartData7i"
                    [labels]="barChartLabels7i"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>

        <div class="gap"></div>

        <div class="line-graph">
          <div style="display: block">
            <!--add heading-->

            <canvas baseChart
                    [datasets]="barChartData8i"
                    [labels]="barChartLabels8i"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>

        <div class="gap"></div>


        <div class="line-graph">
          <div style="display: block">
            <!--add heading-->

            <canvas baseChart
                    [datasets]="barChartData9i"
                    [labels]="barChartLabels9i"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>

        <div class="gap"></div>

        <div class="line-graph">
          <div style="display: block">
            <!--add heading-->

            <canvas baseChart
                    [datasets]="barChartDatasw"
                    [labels]="barChartLabelssw"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
