<div class="avg-max">
  <div class="max">
  <h4 class="max-header" id="MD">Max Distances</h4>
    <div class="floating-box2">

      <div > <!--class="feed"-->
        Top Swing Stats Drives
        <div *ngFor="let longShot of userLongestDrive" > <!--class="message"-->
           {{longShot}}
        </div>
      </div>
      <table class="averages">
        {{userName}} Your Longest Shots
        <tr>
          <td>Driver</td>
          <td>{{ owndriverLongest }}</td>
          <td>3 wood</td>
          <td>{{ woodlongest }}</td>
          <td>5 iron</td>
          <td name="longFive">{{ fivelongest }}</td>
          <td>6 iron</td>
          <td>{{ sixlongest }}</td>
          <td>7 iron</td>
          <td>{{ sevenlongest }}</td>
          <td>8 iron</td>
          <td>{{ eigthlongest }}</td>
          <td>9 iron</td>
          <td>{{ ninelongest }}</td>
          <td>SW iron</td>
          <td>{{ swlongest }}</td>

        <tr>
      </table>



    </div>
  </div>
  <!--average tables-->
  <div class="avg-tables">
  <h4 class="av-header">Average Club Distance</h4>
  <div>
    <div class="floating-box">
    <table class="averages">
      <caption>Full Swings</caption>
      <tr>
        <th>Club</th>
        <th>Swing</th>
        <th>average</th>
      </tr>
      <tr>
        <td>Driver</td>
        <td>Full</td>
        <td>{{ driverAverage }}</td>
      </tr>
      <tr>
        <td>3 wood</td>
        <td>Full</td>
        <td>{{ woodAverage }}</td>
      </tr>
      <tr>
        <td>5 iron</td>
        <td>Full</td>
        <td  name="fiveAverge">{{ fiveAverage }}</td>
      </tr>
      <tr>
        <td>6 iron</td>
        <td>Full</td>
        <td>{{ sixAverage }}</td>
      </tr>
      <tr>
        <td>7 iron</td>
        <td>Full</td>
        <td>{{ sevenAverage }}</td>
      </tr>
      <tr>
        <td>8 iron</td>
        <td>Full</td>
        <td>{{ eigthAverage }}</td>
      </tr>
      <tr>
        <td>9 iron</td>
        <td>Full</td>
        <td>{{ nineAverage }}</td>
      </tr>
      <tr>
        <td>SW iron</td>
        <td>Full</td>
        <td>{{ swAverage }}</td>
      </tr>
    </table>

  </div>

    <div class="floating-box">

    <table class="averages">
      <caption>3/4 Swings</caption>
      <tr>
        <th>Club</th>
        <th>Swing</th>
        <th>average</th>
      </tr>
      <tr>
        <td>Driver</td>
        <td>3/4</td>
        <td>--</td>
      </tr>
      <tr>
        <td>3 wood</td>
        <td>3/4</td>
        <td>{{ woodthree }}</td>
      </tr>
      <tr>
        <td>5 iron</td>
        <td>3/4</td>
        <td>{{ fivethree }}</td>
      </tr>
      <tr>
        <td>6 iron</td>
        <td>3/4</td>
        <td>{{ sixthree }}</td>
      </tr>
      <tr>
        <td>7 iron</td>
        <td>3/4</td>
        <td>{{ seventhree }}</td>
      </tr>
      <tr>
        <td>8 iron</td>
        <td>3/4</td>
        <td>{{ eigththree }}</td>
      </tr>
      <tr>
        <td>9 iron</td>
        <td>3/4</td>
        <td>{{ ninethree }}</td>
      </tr>
      <tr>
        <td>SW iron</td>
        <td>3/4</td>
        <td>{{ swthree }}</td>
      </tr>
    </table>
    </div>
    <div class="floating-box">
    <table class="averages">
      <caption>1/2 Swings</caption>
      <tr>
        <th>Club</th>
        <th>Swing</th>
        <th>average</th>
      </tr>
      <tr>
        <td>Driver</td>
        <td>1/2</td>
        <td>--</td>
      </tr>
      <tr>
        <td>3 wood</td>
        <td>1/2</td>
        <td>{{ woodhalf }}</td>
      </tr>
      <tr>
        <td>5 iron</td>
        <td>1/2</td>
        <td>{{ fivehalf }}</td>
      </tr>
      <tr>
        <td>6 iron</td>
        <td>1/2</td>
        <td>{{ sixhalf }}</td>
      </tr>
      <tr>
        <td>7 iron</td>
        <td>1/2</td>
        <td>{{ sevenhalf }}</td>
      </tr>
      <tr>
        <td>8 iron</td>
        <td>1/2</td>
        <td>{{ eigthhalf }}</td>
      </tr>
      <tr>
        <td>9 iron</td>
        <td>1/2</td>
        <td>{{ ninehalf }}</td>
      </tr>
      <tr>
        <td>SW iron</td>
        <td>1/2</td>
        <td>{{ swhalf }}</td>
      </tr>
    </table>
    </div>

    <div class="floating-box">
    <table class="averages">
      <caption>1/4 Swings</caption>
      <tr>
        <th>Club</th>
        <th>Swing</th>
        <th>average</th>
      </tr>
      <tr>
        <td>Driver</td>
        <td>1/4</td>
        <td>--</td>
      </tr>
      <tr>
        <td>3 wood</td>
        <td>1/4</td>
        <td>{{ woodquater }}</td>
      </tr>
      <tr>
        <td>5 iron</td>
        <td>1/4</td>
        <td>{{ fivequater }}</td>
      </tr>
      <tr>
        <td>6 iron</td>
        <td>1/4</td>
        <td>{{ sixquater }}</td>
      </tr>
      <tr>
        <td>7 iron</td>
        <td>1/4</td>
        <td>{{ sevenquater }}</td>
      </tr>
      <tr>
        <td>8 iron</td>
        <td>1/4</td>
        <td>{{ eigthquater }}</td>
      </tr>
      <tr>
        <td>9 iron</td>
        <td>1/4</td>
        <td>{{ ninequater }}</td>
      </tr>
      <tr>
        <td>SW iron</td>
        <td>1/4</td>
        <td>{{ swquater }}</td>
      </tr>
    </table>
    </div>




  </div>
    <!--end tables-->






<!--<div class="line-graph">-->
  <!--<div>-->
    <!--<div style="display: block">-->
      <!--<canvas baseChart-->
              <!--[datasets]="barChartData"-->
              <!--[labels]="barChartLabels"-->
              <!--[options]="barChartOptions"-->
              <!--[legend]="barChartLegend"-->
              <!--[chartType]="barChartType"-->
              <!--(chartHover)="chartHovered($event)"-->
              <!--(chartClick)="chartClicked($event)"></canvas>-->
    <!--</div>-->

  <!--</div>-->
</div>







  </div>
