<div class="avg-max">


  <div class="max">


    <div class="maxs">


    <div class="maxDistances">

      <h4 class="max-header" id="MD">Longest Distance for each club</h4>
      <ol>
        <li><div id="longD">Driver: <b> {{ owndriverLongest }}m </b></div></li>
        <li>3 Wood:  {{ woodlongest }}m</li>
        <li>5 Iron:  {{ fivelongest }}m</li>
        <li>6 Iron:  {{ sixlongest }}m</li>
        <li>7 Iron:  {{ sevenlongest }}m</li>
        <li>8 Iron:  {{ eigthlongest }}m</li>
        <li>9 Iron:  {{ ninelongest }}m</li>
        <li>SW Iron: {{ swlongest }}m</li>

      </ol>

    </div>
  </div>
  </div>
  <!--average tables-->
  <div class="avg-tables">

  <div>
    <div class="floating-box" >
      <h4 class="av-header">Average Club & swing distance</h4>

    <div class="floating-box">
    <table class="averages">
      <caption><h2>Full Swings</h2></caption>
      <tr>
        <th>Club</th>
        <th>Swing</th>
        <th>average</th>
      </tr>
      <tr>
        <td>Driver</td>
        <td>Full</td>
        <td>{{ driverAverage }}m</td>
      </tr>
      <tr>
        <td>3 wood</td>
        <td>Full</td>
        <td>{{ woodAverage }}m</td>
      </tr>
      <tr>
        <td>5 iron</td>
        <td>Full</td>
        <td  name="fiveAverge">{{ fiveAverage }}</td>
      </tr>
      <tr>
        <td>6 iron</td>
        <td>Full</td>
        <td>{{ sixAverage }}m</td>
      </tr>
      <tr>
        <td>7 iron</td>
        <td>Full</td>
        <td>{{ sevenAverage }}m</td>
      </tr>
      <tr>
        <td>8 iron</td>
        <td>Full</td>
        <td>{{ eigthAverage }}m</td>
      </tr>
      <tr>
        <td>9 iron</td>
        <td>Full</td>
        <td>{{ nineAverage }}m</td>
      </tr>
      <tr>
        <td>SW iron</td>
        <td>Full</td>
        <td>{{ swAverage }}m</td>
      </tr>
    </table>

  </div>

    <div class="floating-box">

    <table class="averages">
      <caption><h2>3/4 Swings</h2></caption>
      <tr>
        <th>Club</th>
        <th>Swing</th>
        <th>average</th>
      </tr>
      <tr>
        <td>Driver</td>
        <td>3/4</td>
        <td>--</td>
      </tr>
      <tr>
        <td>3 wood</td>
        <td>3/4</td>
        <td>{{ woodthree }}m</td>
      </tr>
      <tr>
        <td>5 iron</td>
        <td>3/4</td>
        <td>{{ fivethree }}m</td>
      </tr>
      <tr>
        <td>6 iron</td>
        <td>3/4</td>
        <td>{{ sixthree }}m</td>
      </tr>
      <tr>
        <td>7 iron</td>
        <td>3/4</td>
        <td>{{ seventhree }}m</td>
      </tr>
      <tr>
        <td>8 iron</td>
        <td>3/4</td>
        <td>{{ eigththree }}m</td>
      </tr>
      <tr>
        <td>9 iron</td>
        <td>3/4</td>
        <td>{{ ninethree }}m</td>
      </tr>
      <tr>
        <td>SW iron</td>
        <td>3/4</td>
        <td>{{ swthree }}m</td>
      </tr>
    </table>
    </div>
    <div class="floating-box">
    <table class="averages">
      <caption><h2>1/2 Swings</h2></caption>
      <tr>
        <th>Club</th>
        <th>Swing</th>
        <th>average</th>
      </tr>
      <tr>
        <td>Driver</td>
        <td>1/2</td>
        <td>--</td>
      </tr>
      <tr>
        <td>3 wood</td>
        <td>1/2</td>
        <td>{{ woodhalf }}m</td>
      </tr>
      <tr>
        <td>5 iron</td>
        <td>1/2</td>
        <td>{{ fivehalf }}m</td>
      </tr>
      <tr>
        <td>6 iron</td>
        <td>1/2</td>
        <td>{{ sixhalf }}m</td>
      </tr>
      <tr>
        <td>7 iron</td>
        <td>1/2</td>
        <td>{{ sevenhalf }}m</td>
      </tr>
      <tr>
        <td>8 iron</td>
        <td>1/2</td>
        <td>{{ eigthhalf }}m</td>
      </tr>
      <tr>
        <td>9 iron</td>
        <td>1/2</td>
        <td>{{ ninehalf }}m</td>
      </tr>
      <tr>
        <td>SW iron</td>
        <td>1/2</td>
        <td>{{ swhalf }}m</td>
      </tr>
    </table>
    </div>

    <div class="floating-box">
    <table class="averages">
      <caption><h2>1/4 Swings</h2></caption>
      <tr>
        <th>Club</th>
        <th>Swing</th>
        <th>average</th>
      </tr>
      <tr>
        <td>Driver</td>
        <td>1/4</td>
        <td>--</td>
      </tr>
      <tr>
        <td>3 wood</td>
        <td>1/4</td>
        <td>{{ woodquater }}m</td>
      </tr>
      <tr>
        <td>5 iron</td>
        <td>1/4</td>
        <td>{{ fivequater }}m</td>
      </tr>
      <tr>
        <td>6 iron</td>
        <td>1/4</td>
        <td>{{ sixquater }}m</td>
      </tr>
      <tr>
        <td>7 iron</td>
        <td>1/4</td>
        <td>{{ sevenquater }}m</td>
      </tr>
      <tr>
        <td>8 iron</td>
        <td>1/4</td>
        <td>{{ eigthquater }}m</td>
      </tr>
      <tr>
        <td>9 iron</td>
        <td>1/4</td>
        <td>{{ ninequater }}m</td>
      </tr>
      <tr>
        <td>SW iron</td>
        <td>1/4</td>
        <td>{{ swquater }}m</td>
      </tr>
    </table>
    </div>




  </div>
    <!--end tables-->
  </div>


</div>
  <div style="display: block"  id="doughnutChart">
    <b class="nameOfChart">Club usage chart</b>
    <p>This chart shows how many full shots you have taken with each club. Simply click on the the coloured icon with the club name beside it to see how often the club is used. When you click on the club it will be added to the dougnut chart.</p>
    <canvas baseChart
            [colors]="chartColors"
            [options]="doughnutChartOptions"
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>






