<div class="avg-max">
  <div class="max">
  <h4 class="max-header">Max Distances</h4>
    <div class="floating-box2">
      <table class="averages">

        <tr>
          <td>Driver</td>
          <td>{{ driverlongest }}</td>
          <td>3 wood</td>
          <td>Full</td>
          <td>5 iron</td>
          <td>Full</td>
          <td>6 iron</td>
          <td>Full</td>
          <td>7 iron</td>
          <td>Full</td>
          <td>8 iron</td>
          <td>Full</td>
          <td>9 iron</td>
          <td>Full</td>
          <td>SW iron</td>
          <td>Full</td>

        <tr>
      </table>



    </div>
  </div>
  <!--average tables-->
  <div class="avg-tables">
  <h4 class="av-header">Average Club Distance</h4>
  <div>
    <div class="floating-box">
    <table class="averages">
      <caption>Full Swings</caption>
      <tr>
        <th>Club</th>
        <th>Swing</th>
        <th>average</th>
      </tr>
      <tr>
        <td>Driver</td>
        <td>Full</td>
        <td>{{ driverAverage }}</td>
      </tr>
      <tr>
        <td>3 wood</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>5 iron</td>
        <td>Full</td>
        <td>{{ fiveAverage }}</td>
      </tr>
      <tr>
        <td>6 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>7 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>8 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>9 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>SW iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
    </table>

  </div>

    <div class="floating-box">

    <table class="averages">
      <caption>3/4 Swings</caption>
      <tr>
        <th>Club</th>
        <th>Swing</th>
        <th>average</th>
      </tr>
      <tr>
        <td>Driver</td>
        <td>Full</td>
        <td>{{ driverAverage }}</td>
      </tr>
      <tr>
        <td>3 wood</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>5 iron</td>
        <td>Full</td>
        <td>{{ fiveAverage }}</td>
      </tr>
      <tr>
        <td>6 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>7 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>8 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>9 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>SW iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
    </table>
    </div>
    <div class="floating-box">
    <table class="averages">
      <caption>1/2 Swings</caption>
      <tr>
        <th>Club</th>
        <th>Swing</th>
        <th>average</th>
      </tr>
      <tr>
        <td>Driver</td>
        <td>Full</td>
        <td>{{ driverAverage }}</td>
      </tr>
      <tr>
        <td>3 wood</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>5 iron</td>
        <td>Full</td>
        <td>{{ fiveAverage }}</td>
      </tr>
      <tr>
        <td>6 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>7 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>8 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>9 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>SW iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
    </table>
    </div>

    <div class="floating-box">
    <table class="averages">
      <caption>1/4 Swings</caption>
      <tr>
        <th>Club</th>
        <th>Swing</th>
        <th>average</th>
      </tr>
      <tr>
        <td>Driver</td>
        <td>Full</td>
        <td>{{ driverAverage }}</td>
      </tr>
      <tr>
        <td>3 wood</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>5 iron</td>
        <td>Full</td>
        <td>{{ fiveAverage }}</td>
      </tr>
      <tr>
        <td>6 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>7 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>8 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>9 iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
      <tr>
        <td>SW iron</td>
        <td>Full</td>
        <td>0</td>
      </tr>
    </table>
    </div>




  </div>
    <!--end tables-->

<div class="graph-conatiner">
<h1>Graphing your progress</h1>
</div>




<div class="line-graph">
  <div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>

  </div>
</div>







  </div>
